body {
    background-color: #6D67C2;
    margin: auto;
}

h1 {
    position: absolute;
    left: 100px;
    top: -100px;
    font-size: 300px;
    color: #d3330d
}
h1 {
 font-family: "Bebas Neue", sans-serif;
 font-weight: 400;
 font-style: normal;
 display:flex;
 flex-direction: row;
      
}


h2 {
    font-size: 200px;
    position: absolute;
    top: 1150px;
    left: 2850px;
    color: #d3330d 
}
h2 {
font-family: "Bebas Neue", sans-serif;
 font-weight: 400;
 font-style: normal;
}

p {
    position: absolute;
    top: 1500px;
    left:3050px;
    font-size: 100px;
    color: white;
    
}
p {
    font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home {
    position: absolute;
    top: 1640px;
    left: 2900px;
}

.cv {
    position: absolute;
    top: 1760px;
    left: 2900px;
}

.portf {
    position: absolute;
    top: 1890px;
    left: 2900px;
}

.portfolio {
    position: absolute;
    top: 1500px;
    left: 130px;
    cursor: pointer;
}

.curriculum {
    position: absolute;
    top: 1500px;
    right: 130px;
    cursor: pointer;
}


.mappatesto {
    display:flex;
    flex direction:row;

}
.mappaicon {
    display:flex;
    flex direction:row;

}
